In [2]:
# 设置为inline风格
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
tuples = list(zip(*[['bar','bar','baz','baz',
                     'foo','foo','qux','qux'],
                   ['one','two','one','two',
                    'one','two','one','two']]))

In [6]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [7]:
df = pd.DataFrame(np.random.randn(8,2), index=index, columns=['A','B'])
df

                     A         B
first second
bar   one     1.392315  0.258399
      two    -0.794224  0.157030
baz   one    -1.674899 -0.680141
      two     1.564417 -0.058928
foo   one    -0.490450 -0.480893
      two     0.922584  1.122430
qux   one    -0.821056 -0.581660
      two    -0.576081  0.162416

In [10]:
stacked = df.stack()
stacked

first  second
bar    one     A    1.392315
               B    0.258399
       two     A   -0.794224
               B    0.157030
baz    one     A   -1.674899
               B   -0.680141
       two     A    1.564417
               B   -0.058928
foo    one     A   -0.490450
               B   -0.480893
       two     A    0.922584
               B    1.122430
qux    one     A   -0.821056
               B   -0.581660
       two     A   -0.576081
               B    0.162416
dtype: float64

In [11]:
stacked = df.unstack()
stacked

               A                   B
second       one       two       one       two
first
bar     1.392315 -0.794224  0.258399  0.157030
baz    -1.674899  1.564417 -0.680141 -0.058928
foo    -0.490450  0.922584 -0.480893  1.122430
qux    -0.821056 -0.576081 -0.581660  0.162416

In [13]:
stacked = df.unstack().unstack()
stacked

   second  first
A  one     bar      1.392315
           baz     -1.674899
           foo     -0.490450
           qux     -0.821056
   two     bar     -0.794224
           baz      1.564417
           foo      0.922584
           qux     -0.576081
B  one     bar      0.258399
           baz     -0.680141
           foo     -0.480893
           qux     -0.581660
   two     bar      0.157030
           baz     -0.058928
           foo      1.122430
           qux      0.162416
dtype: float64

In [17]:
#数据透视表,值是A这一列，行索引为first，列索引为second
df.pivot_table(values='A', index=['first'], columns=['second'])

second       one       two
first
bar     1.392315 -0.794224
baz    -1.674899  1.564417
foo    -0.490450  0.922584
qux    -0.821056 -0.576081

In [15]:
df

                     A         B
first second
bar   one     1.392315  0.258399
      two    -0.794224  0.157030
baz   one    -1.674899 -0.680141
      two     1.564417 -0.058928
foo   one    -0.490450 -0.480893
      two     0.922584  1.122430
qux   one    -0.821056 -0.581660
      two    -0.576081  0.162416

In [18]:
#时间序列
rng = pd.date_range('20180601', periods=600, freq='s')
rng

DatetimeIndex(['2018-06-01 00:00:00', '2018-06-01 00:00:01',
               '2018-06-01 00:00:02', '2018-06-01 00:00:03',
               '2018-06-01 00:00:04', '2018-06-01 00:00:05',
               '2018-06-01 00:00:06', '2018-06-01 00:00:07',
               '2018-06-01 00:00:08', '2018-06-01 00:00:09',
               ...
               '2018-06-01 00:09:50', '2018-06-01 00:09:51',
               '2018-06-01 00:09:52', '2018-06-01 00:09:53',
               '2018-06-01 00:09:54', '2018-06-01 00:09:55',
               '2018-06-01 00:09:56', '2018-06-01 00:09:57',
               '2018-06-01 00:09:58', '2018-06-01 00:09:59'],
              dtype='datetime64[ns]', length=600, freq='S')

In [20]:
s = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
s

2018-06-01 00:00:00    279
2018-06-01 00:00:01    314
2018-06-01 00:00:02    132
2018-06-01 00:00:03    154
2018-06-01 00:00:04    472
2018-06-01 00:00:05    476
2018-06-01 00:00:06    380
2018-06-01 00:00:07    194
2018-06-01 00:00:08    263
2018-06-01 00:00:09    343
2018-06-01 00:00:10    160
2018-06-01 00:00:11    201
2018-06-01 00:00:12    263
2018-06-01 00:00:13    246
2018-06-01 00:00:14     18
2018-06-01 00:00:15    159
2018-06-01 00:00:16    144
2018-06-01 00:00:17    145
2018-06-01 00:00:18     36
2018-06-01 00:00:19     93
2018-06-01 00:00:20    298
2018-06-01 00:00:21      9
2018-06-01 00:00:22    311
2018-06-01 00:00:23    362
2018-06-01 00:00:24    340
2018-06-01 00:00:25    113
2018-06-01 00:00:26    360
2018-06-01 00:00:27    329
2018-06-01 00:00:28    468
2018-06-01 00:00:29    229
                      ...
2018-06-01 00:09:30    183
2018-06-01 00:09:31    429
2018-06-01 00:09:32    299
2018-06-01 00:09:33    424
2018-06-01 00:09:34    196
2018-06-01 00:09:35    226
2018-06-01 00:09:36    293
2018-06-01 00:09:37    222
2018-06-01 00:09:38    470
2018-06-01 00:09:39    393
2018-06-01 00:09:40    211
2018-06-01 00:09:41     72
2018-06-01 00:09:42     13
2018-06-01 00:09:43    376
2018-06-01 00:09:44    321
2018-06-01 00:09:45    218
2018-06-01 00:09:46     18
2018-06-01 00:09:47    439
2018-06-01 00:09:48    473
2018-06-01 00:09:49    293
2018-06-01 00:09:50    417
2018-06-01 00:09:51    338
2018-06-01 00:09:52    341
2018-06-01 00:09:53    158
2018-06-01 00:09:54    215
2018-06-01 00:09:55    154
2018-06-01 00:09:56    260
2018-06-01 00:09:57     79
2018-06-01 00:09:58    362
2018-06-01 00:09:59    271
Freq: S, Length: 600, dtype: int32

In [22]:
s.resample('2Min').mean()# 由原来的how='mean'修改了

2018-06-01 00:00:00    243.150000
2018-06-01 00:02:00    233.050000
2018-06-01 00:04:00    240.308333
2018-06-01 00:06:00    267.625000
2018-06-01 00:08:00    246.000000
Freq: 2T, dtype: float64

In [24]:
rng = pd.period_range('2000Q1', '2016Q1', freq='Q')
rng

PeriodIndex(['2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001Q1', '2001Q2',
             '2001Q3', '2001Q4', '2002Q1', '2002Q2', '2002Q3', '2002Q4',
             '2003Q1', '2003Q2', '2003Q3', '2003Q4', '2004Q1', '2004Q2',
             '2004Q3', '2004Q4', '2005Q1', '2005Q2', '2005Q3', '2005Q4',
             '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007Q1', '2007Q2',
             '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3', '2008Q4',
             '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010Q1', '2010Q2',
             '2010Q3', '2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4',
             '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2',
             '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4',
             '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [25]:
rng.to_timestamp()

DatetimeIndex(['2000-01-01', '2000-04-01', '2000-07-01', '2000-10-01',
               '2001-01-01', '2001-04-01', '2001-07-01', '2001-10-01',
               '2002-01-01', '2002-04-01', '2002-07-01', '2002-10-01',
               '2003-01-01', '2003-04-01', '2003-07-01', '2003-10-01',
               '2004-01-01', '2004-04-01', '2004-07-01', '2004-10-01',
               '2005-01-01', '2005-04-01', '2005-07-01', '2005-10-01',
               '2006-01-01', '2006-04-01', '2006-07-01', '2006-10-01',
               '2007-01-01', '2007-04-01', '2007-07-01', '2007-10-01',
               '2008-01-01', '2008-04-01', '2008-07-01', '2008-10-01',
               '2009-01-01', '2009-04-01', '2009-07-01', '2009-10-01',
               '2010-01-01', '2010-04-01', '2010-07-01', '2010-10-01',
               '2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [26]:
pd.Timestamp('20180301') - pd.Timestamp('20180201')

Timedelta('28 days 00:00:00')

In [27]:
df = pd.DataFrame(np.random.randn(100,4), columns=list('ABCD'))
df

           A         B         C         D
0  -2.343197  0.591256  0.653062 -1.041534
1   0.147419  1.446988  0.621339  2.448724
2  -0.242194  1.134605  0.591352 -0.465338
3   0.017249  1.441591  1.196956  2.087314
4   0.658759  2.028400 -0.539875 -0.804037
5  -0.617433  0.778654 -1.258649 -0.543931
6   1.018344 -0.310136  0.355845 -0.649360
7   2.259695  0.205844  1.248547 -1.456638
8  -0.458913 -0.470492 -1.650990  1.124029
9  -0.614551 -0.278962 -0.298046 -1.829402
10  0.705409 -1.547774  0.348398  0.201868
11 -0.777882  0.897451 -0.103769 -1.182174
12  0.053166  0.090757 -0.613255 -2.558381
13  0.002406  0.108677  1.147294  0.102909
14  0.394712  0.835118  0.162575  0.439207
15  0.161011  0.901821 -0.517044 -1.069552
16 -0.927661  0.682346 -0.720974  0.128333
17  0.435542 -0.260472 -0.174919  1.530637
18  0.022798 -0.578340 -0.963778  2.793827
19  0.738628  0.013779  2.145432 -0.718878
20 -0.291686 -0.553024 -0.492132  1.527851
21 -1.278782  0.024358 -0.140095 -0.149127
22 -1.391044  0.111683  0.674228 -1.479790
23  0.362333  0.082441  0.247529  0.549812
24 -1.191333 -0.338307  0.494903  1.152627
25  0.214946  1.231893 -2.880095 -0.504492
26 -0.199706  0.047797 -1.276589 -0.127992
27 -1.093969  0.199155 -0.232444  0.639500
28  0.089714  2.085731 -0.133650 -0.277191
29 -0.048589  1.536452 -0.251871  0.229140
..       ...       ...       ...       ...
70 -0.152586 -2.030659 -1.157389  1.081083
71  0.963333 -0.421543  0.463552  0.160575
72 -0.251205  0.653229  0.080610 -0.268781
73  1.028786  2.042928 -0.127565 -0.227832
74 -0.590305 -0.320405 -1.074100  0.070875
75 -0.870313 -0.276450 -0.143057  0.153675
76  0.828052  1.030301  0.312630  0.036469
77 -0.386832 -0.805867  0.061903 -0.639622
78  0.560403  1.842608  0.452572 -0.340720
79 -0.456387 -1.492591  1.356751 -2.020540
80 -0.716996  0.437136  0.405746 -1.548933
81 -0.472881  0.054897  0.105567  0.025533
82  1.056517 -0.468066  0.711097 -0.822320
83 -1.480937 -2.001297  0.420291  1.787173
84 -1.011252  1.088157 -0.856510  0.639469
85 -0.463156  3.129097 -0.470238  0.929912
86 -0.537892  0.153107 -0.151179  1.986263
87  0.342979 -0.792489  1.189193  1.515633
88  1.831871  0.086116 -2.206238  1.397732
89 -0.032017 -1.044514 -0.840393  1.674153
90 -0.538999 -1.173623 -1.073890  1.969308
91 -0.669302 -0.274812  0.561113  0.483538
92 -1.267700  1.531968  1.650218  0.295969
93 -0.067458 -0.579526 -1.151589 -1.147360
94  0.023480  1.897715 -0.413801 -0.978077
95  0.844990  0.542070  0.445593 -0.713182
96  0.584429  0.086347 -0.606451 -0.271413
97 -0.710546  0.069594 -0.666589  1.217053
98  0.435394 -0.262983 -0.151974 -1.752065
99 -1.022321 -0.978850 -0.120849 -1.634415

[100 rows x 4 columns]

In [28]:
df.to_csv('data.csv')
%ls

 驱动器 C 中的卷没有标签。
 卷的序列号是 D83C-D5BD

 C:\Users\Administrator 的目录

2018/06/22  20:15    <DIR>          .
2018/06/22  20:15    <DIR>          ..
2014/03/04  22:11    <DIR>          .android
2017/10/25  12:58    <DIR>          .astropy
2018/04/25  15:27               610 .bash_history
2017/07/10  00:23                74 .gitconfig
2017/09/27  21:39    <DIR>          .idlerc
2018/06/22  19:25    <DIR>          .ipynb_checkpoints
2017/10/23  15:00    <DIR>          .ipython
2018/06/15  15:16    <DIR>          .jupyter
2018/06/22  19:27    <DIR>          .matplotlib
2016/02/01  21:49    <DIR>          .oracle_jre_usage
2017/08/15  16:42    <DIR>          .PyCharm2017.2
2018/05/25  20:29                 0 .pythonhist
2017/10/23  15:29    <DIR>          .spyder-py3
2017/07/10  00:12    <DIR>          .ssh
2018/06/08  16:55    <DIR>          AppData
2017/06/14  14:16    <DIR>          Contacts
2018/06/22  20:15             8,251 data.csv
2018/06/22  16:45    <DIR>          Desktop
2017/08/14  20:00    <DIR>          Documents
2018/06/21  20:44    <DIR>          Downloads
2016/09/10  16:14    <DIR>          fancy
2018/04/28  14:08    <DIR>          Favorites
2018/05/28  18:23            11,159 gsview32.ini
2017/07/22  16:29    <DIR>          HBuilder
2017/07/22  16:32    <DIR>          HBuilder settings
2018/04/25  13:31    <DIR>          learngit
2017/06/14  14:16    <DIR>          Links
2017/08/14  19:56                74 mercurial.ini
2017/12/13  22:35                34 mm.cfg
2018/06/20  14:55    <DIR>          Music
2018/06/21  16:03            48,131 pandas_demo1.ipynb
2018/06/22  20:14            23,114 pandas_demo2.ipynb
2018/05/19  18:55    <DIR>          Pictures
2017/10/11  21:07    <DIR>          PycharmProjects
2018/05/14  16:42               816 pyhton_demo.ipynb
2017/06/14  14:16    <DIR>          Saved Games
2017/08/11  13:45    <DIR>          Searches
2017/08/15  16:05    <DIR>          sunblog
2017/10/19  17:57    <DIR>          Tracing
2017/11/29  16:27                72 Untitled.ipynb
2017/11/29  16:27                 0 untitled.txt
2018/06/15  15:29               581 Untitled1.ipynb
2017/07/22  21:15    <DIR>          Videos
2017/07/14  18:41    <DIR>          WebstormProjects
              13 个文件         92,916 字节
              33 个目录 34,009,100,288 可用字节

In [29]:
%more data.csv

In [31]:
pd.read_csv('data.csv', index_col=0)

           A         B         C         D
0  -2.343197  0.591256  0.653062 -1.041534
1   0.147419  1.446988  0.621339  2.448724
2  -0.242194  1.134605  0.591352 -0.465338
3   0.017249  1.441591  1.196956  2.087314
4   0.658759  2.028400 -0.539875 -0.804037
5  -0.617433  0.778654 -1.258649 -0.543931
6   1.018344 -0.310136  0.355845 -0.649360
7   2.259695  0.205844  1.248547 -1.456638
8  -0.458913 -0.470492 -1.650990  1.124029
9  -0.614551 -0.278962 -0.298046 -1.829402
10  0.705409 -1.547774  0.348398  0.201868
11 -0.777882  0.897451 -0.103769 -1.182174
12  0.053166  0.090757 -0.613255 -2.558381
13  0.002406  0.108677  1.147294  0.102909
14  0.394712  0.835118  0.162575  0.439207
15  0.161011  0.901821 -0.517044 -1.069552
16 -0.927661  0.682346 -0.720974  0.128333
17  0.435542 -0.260472 -0.174919  1.530637
18  0.022798 -0.578340 -0.963778  2.793827
19  0.738628  0.013779  2.145432 -0.718878
20 -0.291686 -0.553024 -0.492132  1.527851
21 -1.278782  0.024358 -0.140095 -0.149127
22 -1.391044  0.111683  0.674228 -1.479790
23  0.362333  0.082441  0.247529  0.549812
24 -1.191333 -0.338307  0.494903  1.152627
25  0.214946  1.231893 -2.880095 -0.504492
26 -0.199706  0.047797 -1.276589 -0.127992
27 -1.093969  0.199155 -0.232444  0.639500
28  0.089714  2.085731 -0.133650 -0.277191
29 -0.048589  1.536452 -0.251871  0.229140
..       ...       ...       ...       ...
70 -0.152586 -2.030659 -1.157389  1.081083
71  0.963333 -0.421543  0.463552  0.160575
72 -0.251205  0.653229  0.080610 -0.268781
73  1.028786  2.042928 -0.127565 -0.227832
74 -0.590305 -0.320405 -1.074100  0.070875
75 -0.870313 -0.276450 -0.143057  0.153675
76  0.828052  1.030301  0.312630  0.036469
77 -0.386832 -0.805867  0.061903 -0.639622
78  0.560403  1.842608  0.452572 -0.340720
79 -0.456387 -1.492591  1.356751 -2.020540
80 -0.716996  0.437136  0.405746 -1.548933
81 -0.472881  0.054897  0.105567  0.025533
82  1.056517 -0.468066  0.711097 -0.822320
83 -1.480937 -2.001297  0.420291  1.787173
84 -1.011252  1.088157 -0.856510  0.639469
85 -0.463156  3.129097 -0.470238  0.929912
86 -0.537892  0.153107 -0.151179  1.986263
87  0.342979 -0.792489  1.189193  1.515633
88  1.831871  0.086116 -2.206238  1.397732
89 -0.032017 -1.044514 -0.840393  1.674153
90 -0.538999 -1.173623 -1.073890  1.969308
91 -0.669302 -0.274812  0.561113  0.483538
92 -1.267700  1.531968  1.650218  0.295969
93 -0.067458 -0.579526 -1.151589 -1.147360
94  0.023480  1.897715 -0.413801 -0.978077
95  0.844990  0.542070  0.445593 -0.713182
96  0.584429  0.086347 -0.606451 -0.271413
97 -0.710546  0.069594 -0.666589  1.217053
98  0.435394 -0.262983 -0.151974 -1.752065
99 -1.022321 -0.978850 -0.120849 -1.634415

[100 rows x 4 columns]